In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None

In [2]:
companies_table = pd.read_html('https://en.wikipedia.org/wiki/S%26P/ASX_50')[0]
companies_table

,Symbol,Company,GICS,Sector,Headquarters
0,AFI,Australian Foundation Investment Company,40.0,Financials,Melbourne
1,AIA,Auckland International Airport,20.0,Industrials,Auckland
2,ALL,Aristocrat Leisure,25.0,Consumer Discretionary,Sydney
3,AMC,Amcor,15.0,Materials,"Warmley, Bristol, England"
4,ANZ,ANZ Banking Group,40.0,Financials,Melbourne
5,APA,APA Group,55.0,Utilities,Sydney
6,ASX,ASX,40.0,Financials,Sydney
7,BHP,BHP,15.0,Materials,Melbourne
8,BXB,Brambles,20.0,Industrials,Sydney
9,CBA,Commonwealth Bank,40.0,Financials,Sydney
10,COH,Cochlear,35.0,Health Care,Sydney
11,COL,Coles Group,30.0,Consumer Staples,Melbourne
12,CPU,Computershare,45.0,Information Technology,Abbotsford
13,CSL,CSL,35.0,Health Care,Melbourne
14,DXS,Dexus,60.0,Real Estate,Sydney
15,EDV,Endeavour Group,30.0,Consumer Staples,Sydney
16,FMG,Fortescue Metals Group,15.0,Materials,Perth
17,FPH,Fisher & Paykel Healthcare,35.0,Health Care,Auckland
18,GMG,Goodman Group,60.0,Real Estate,Sydney
19,IAG,Insurance Australia Group,40.0,Financials,Sydney
20,JHX,James Hardie,15.0,Materials,Melbourne
21,MGOC,Magellan Global Fund,NaN,NaN,Sydney
22,MQG,Macquarie Group,40.0,Financials,Sydney
23,NAB,National Australia Bank,40.0,Financials,Melbourne
24,NCM,Newcrest Mining,15.0,Materials,Melbourne
25,NST,Northern Star Resources,15.0,Materials,Perth
26,ORG,Origin Energy,55.0,Utilities,Sydney
27,QBE,QBE Insurance,40.0,Financials,Sydney
28,REA,REA Group,50.0,Communication Services,Melbourne
29,REH,Reece Group,20.0,Industrials,Melbourne
30,RHC,Ramsay Health Care,35.0,Health Care,Sydney
31,RIO,Rio Tinto,15.0,Materials,Melbourne / London
32,RMD,ResMed,35.0,Health Care,San Diego
33,S32,South32,15.0,Materials,Perth
34,SCG,Scentre Group,60.0,Real Estate,Sydney
35,SEK,Seek,50.0,Communication Services,Melbourne
36,SHL,Sonic Healthcare,35.0,Health Care,Sydney
37,STO,Santos,10.0,Energy,Adelaide
38,SUN,Suncorp,40.0,Financials,Brisbane
39,TAH,Tabcorp,25.0,Consumer Discretionary,Melbourne
40,TCL,Transurban,20.0,Industrials,Melbourne
41,TLS,Telstra,50.0,Telecommunications Services,Melbourne
42,TPG,TPG Telecom,50.0,Communication Services,Sydney
43,WBC,Westpac,40.0,Financials,Sydney
44,WES,Wesfarmers,25.0,Consumer Discretionary,Perth
45,WOW,Woolworths,30.0,Consumer Staples,Sydney
46,WPL,Woodside Energy,10.0,Energy,Perth
47,WTC,Wisetech Global,45.0,Information Technology,Sydney
48,XRO,Xero,45.0,Information Technology,Wellington

In [3]:
tickers = companies_table['Symbol']
tickers.to_list()
tickers = [ticker + '.AX' for ticker in tickers]
tickers

['AFI.AX',
 'AIA.AX',
 'ALL.AX',
 'AMC.AX',
 'ANZ.AX',
 'APA.AX',
 'ASX.AX',
 'BHP.AX',
 'BXB.AX',
 'CBA.AX',
 'COH.AX',
 'COL.AX',
 'CPU.AX',
 'CSL.AX',
 'DXS.AX',
 'EDV.AX',
 'FMG.AX',
 'FPH.AX',
 'GMG.AX',
 'IAG.AX',
 'JHX.AX',
 'MGOC.AX',
 'MQG.AX',
 'NAB.AX',
 'NCM.AX',
 'NST.AX',
 'ORG.AX',
 'QBE.AX',
 'REA.AX',
 'REH.AX',
 'RHC.AX',
 'RIO.AX',
 'RMD.AX',
 'S32.AX',
 'SCG.AX',
 'SEK.AX',
 'SHL.AX',
 'STO.AX',
 'SUN.AX',
 'TAH.AX',
 'TCL.AX',
 'TLS.AX',
 'TPG.AX',
 'WBC.AX',
 'WES.AX',
 'WOW.AX',
 'WPL.AX',
 'WTC.AX',
 'XRO.AX']

In [4]:
df = yf.download('AFI.AX', start='2015-01-01', interval='1wk').round(decimals=3)
df

[*********************100%***********************]  1 of 1 completed

            Open  High   Low  Close  Adj Close   Volume
Date
2014-12-29  6.05  6.09  6.05   6.08      4.502    60873
2015-01-05  6.06  6.10  6.02   6.08      4.502   986926
2015-01-12  6.08  6.09  6.01   6.04      4.473  1289361
2015-01-19  6.05  6.11  6.03   6.10      4.517  1103642
2015-01-26  6.10  6.16  5.04   5.04      3.732  1072845
...          ...   ...   ...    ...        ...      ...
2023-04-24  7.27  7.29  7.17   7.26      7.260  1497030
2023-05-01  7.19  7.23  7.13   7.13      7.130  2112801
2023-05-08  7.15  7.21  7.13   7.15      7.150  1610804
2023-05-15  7.16  7.20  7.12   7.13      7.130  1676476
2023-05-22  7.13  7.17  7.04   7.08      7.080  2606622

[439 rows x 6 columns]

In [5]:
df_copy = df.copy()
df_copy

            Open  High   Low  Close  Adj Close   Volume
Date
2014-12-29  6.05  6.09  6.05   6.08      4.502    60873
2015-01-05  6.06  6.10  6.02   6.08      4.502   986926
2015-01-12  6.08  6.09  6.01   6.04      4.473  1289361
2015-01-19  6.05  6.11  6.03   6.10      4.517  1103642
2015-01-26  6.10  6.16  5.04   5.04      3.732  1072845
...          ...   ...   ...    ...        ...      ...
2023-04-24  7.27  7.29  7.17   7.26      7.260  1497030
2023-05-01  7.19  7.23  7.13   7.13      7.130  2112801
2023-05-08  7.15  7.21  7.13   7.15      7.150  1610804
2023-05-15  7.16  7.20  7.12   7.13      7.130  1676476
2023-05-22  7.13  7.17  7.04   7.08      7.080  2606622

[439 rows x 6 columns]

In [13]:
mod_df = df_copy.drop(columns=['Adj Close', 'Volume'])

# EMA40 Calculation
mod_df['EMA40'] = mod_df.Close.ewm(span=40, adjust=False).mean()

# MACD and Signal Calculations
exp1 = mod_df.Close.ewm(span=3, adjust=False).mean()
exp2 = mod_df.Close.ewm(span=10, adjust=False).mean()
mod_df['MACD'] = (exp1 - exp2)
mod_df['MACD GRAD'] = mod_df.MACD.diff() 
mod_df['Signal'] = mod_df.MACD.ewm(span=16, adjust=False).mean()
mod_df.dropna(inplace=True)

mod_df

            Open  High   Low  Close     EMA40      MACD  MACD GRAD    Signal
Date
2015-01-05  6.06  6.10  6.02   6.08  6.080000  0.000000   0.000000  0.000000
2015-01-12  6.08  6.09  6.01   6.04  6.078049 -0.012727  -0.012727 -0.001497
2015-01-19  6.05  6.11  6.03   6.10  6.079120  0.002314   0.015041 -0.001049
2015-01-26  6.10  6.16  5.04   5.04  6.028431 -0.329016  -0.331330 -0.039633
2015-02-02  6.14  6.27  6.09   6.15  6.034361 -0.081467   0.247548 -0.044555
...          ...   ...   ...    ...       ...       ...        ...       ...
2023-04-24  7.27  7.29  7.17   7.26  7.484783 -0.059441   0.004884 -0.031973
2023-05-01  7.19  7.23  7.13   7.13  7.467476 -0.093403  -0.033962 -0.039200
2023-05-08  7.15  7.21  7.13   7.15  7.451990 -0.092442   0.000961 -0.045464
2023-05-15  7.16  7.20  7.12   7.13  7.436283 -0.090008   0.002433 -0.050705
2023-05-22  7.13  7.17  7.04   7.08  7.418903 -0.096739  -0.006731 -0.056120

[438 rows x 8 columns]

In [14]:
mod_df['BuySignal'] = np.where((mod_df.Close > mod_df.EMA40) & (mod_df.MACD > 0) & (mod_df.MACD > mod_df.Signal), 1, 0)
mod_df['SellSignal'] = np.where((mod_df.MACD < mod_df.Signal), 1, 0)
mod_df['BuyPrice'] = None
mod_df['SellPrice'] = None
# mod_df['SellPriceMaxP'] = None
# mod_df['SellPriceMaxL'] = None
mod_df['PurchaseDate'] = None

mod_df

,Open,High,Low,Close,EMA40,MACD,MACD GRAD,Signal,BuySignal,SellSignal,BuyPrice,SellPrice,PurchaseDate
Date,,,,,,,,,,,,,
2015-01-05,6.06,6.10,6.02,6.08,6.080000,0.000000,0.000000,0.000000,0,0,None,None,None
2015-01-12,6.08,6.09,6.01,6.04,6.078049,-0.012727,-0.012727,-0.001497,0,1,None,None,None
2015-01-19,6.05,6.11,6.03,6.10,6.079120,0.002314,0.015041,-0.001049,1,0,None,None,None
2015-01-26,6.10,6.16,5.04,5.04,6.028431,-0.329016,-0.331330,-0.039633,0,1,None,None,None
2015-02-02,6.14,6.27,6.09,6.15,6.034361,-0.081467,0.247548,-0.044555,0,1,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-04-24,7.27,7.29,7.17,7.26,7.484783,-0.059441,0.004884,-0.031973,0,1,None,None,None
2023-05-01,7.19,7.23,7.13,7.13,7.467476,-0.093403,-0.033962,-0.039200,0,1,None,None,None
2023-05-08,7.15,7.21,7.13,7.15,7.451990,-0.092442,0.000961,-0.045464,0,1,None,None,None
2023-05-15,7.16,7.20,7.12,7.13,7.436283,-0.090008,0.002433,-0.050705,0,1,None,None,None
2023-05-22,7.13,7.17,7.04,7.08,7.418903,-0.096739,-0.006731,-0.056120,0,1,None,None,None

In [8]:
mod_df_with_signals = mod_df.copy()

bought = False